<!DOCTYPE html>
<html>
  <head>
    <title>OddOgleApis.com</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>There is nothing to see here. Walk away citizen!</h1>
  </body>
</html>
