page-up-load-pic {
        

    #page4 {
        border: none;
    }

    #upLoadPic-form4 {
        border: none;
    }

    .ulp-radio {
        border: none;
    }

    .upLoadPic-radio {
        border: none;
    }

    .ulp-label {
        border: none;
    }

    .opaq{
        opacity: .5;
    }

    #upLoadPic-button2 {
        font-size: 3em;
        font-family: FredokaOne;
        color: #f8f1f8;
        width: 100%;
        //float: right;
        padding: 0.6em;
    }

    #send {
        color: #f8f1f8;
        font-size: 80%;
        font-family: FredokaOne;
        text-align: center; 
       // position: absolute;
    }
    
  

}
